body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    width: 100%;
    background-color: #D8F2F1;
}
.left-column {
    /* width: 800px; */
    margin-top: 20px;
    margin-left: 30%;
    /* float: left; */
}
.left-column img {
    width: 800px;
}
.bottom-link {
    margin-top: 9%;
    margin-left: 50%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
h1 {
    font-size: 150px;
    font-style: normal;
    color: #336667;
}
p {
    font-size: 50px;
    color: #E56E1A;
}